
#main{
    padding-top: 6vh;
    padding-left: 3vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    gap: 30vh;
}

#main-header{
    margin-top: 10vh;
    font-size: 36px;
}