@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFon.ttf');
}

:root{
    --primary-bg-color: #3A3838;
    --form-bg-color: #4C4949;
    --primary-purple-color: #C115AA;
    --primary-text-color: white;
    --primary-svg-color: white;
    --primary-unselected-color: #AFADAD;
    --primary-selected-color: white;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter';
    overflow-x: hidden;
}

/* body, html {
    width: 100%;
} */

body{
    background-color: var(--primary-bg-color);
}

form{
    background-color: var(--form-bg-color);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

h1{
    color: var(--primary-text-color);
    font-size: 24px;
    font-weight: bold;
    user-select: none;
}

h2{
    user-select: none;
}

input{
    background-color: transparent;
    border-color: transparent;
    outline: none;
}

span{
    color: var(--primary-text-color);
}

button{
    outline: none;
    border-color: transparent;
}