#player{
    display: block;
}

#player-content{
    display: flex;
    justify-content: space-between;
}

#control-and-info-music{
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-left: 3em;
    gap: 4em;
}

#controllers{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#previous-track-btn, #play-btn, #pause-btn, #next-track-btn{
    cursor: pointer; 
}

#previous-track-btn path, line, #play-btn path, #pause-btn path, #next-track-btn path, line{
    transition-duration: .5s;
}

#previous-track-btn:hover path, #play-btn:hover path, #pause-btn:hover path, #next-track-btn:hover path{
    fill: var(--primary-svg-color);
}

#previous-track-btn:hover line, #next-track-btn:hover line{
    stroke: var(--primary-svg-color);
}

#playback-modes{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
}

#repeat-btn, #shuffle-btn{
    cursor: pointer; 
}

#repeat-btn path, #shuffle-btn path{
    transition-duration: .5s;
}

#repeat-btn:hover path, #shuffle-btn:hover path{
    fill: var(--primary-svg-color);
}

#music-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

#music-info-img{
    border: 2px solid var(--primary-purple-color);
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

#music-info-text{
    max-width: 30em;
}

#music-info-text h1{
    font-size: 20px;
    font-weight: bold;
    color: var(--content-bg-color);
    user-select: auto;
    -webkit-text-stroke: 2px var(--primary-purple-color);
    paint-order: stroke fill;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#music-info-text p{
    font-size: 15px;
    color: var(--primary-unselected-color);
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#music-evaluation{
    display: flex;
    align-items: center;
    gap: .5em;
    margin-right: 3em;
}

#music-evaluation svg{
    cursor: pointer;
}

#like path, #dislike path, #volume path {
    transition-duration: .5s;
}

#volume:hover path{
    fill: var(--primary-svg-color);
}

#like:hover path, #dislike:hover path, #dislike:hover line{
    stroke: var(--primary-svg-color);
}

#timeline {
    height: 3.5vh;
    margin: 2vh;
    border-radius: 7px;
    background-color: var(--primary-unselected-color);
    transition: background-color linear .5s;

    display:  flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
}

/* #timeline:hover {
    background-color: var(--primary-purple-color);
    cursor: pointer;
} */

#timeline span {
    margin: .3em;
    z-index: 1;
}

#timeline-fill {
    background-color: var(--primary-purple-color);
    position: absolute;
    height: 3.5vh;
    border-radius: 7px;
    width:0%;
}