#sidebar{
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
}

#heading img{
    width: 62px;
    height: 67px;
    filter: contrast(80%);
}

#heading h2{
    font-size: 20px;
    background: linear-gradient(to right, #6F4C68, #A5719B, #D592C8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: center;
    margin-top: .5em;
}

#list-logo{
    transition-duration: .5s;
    color: #424242;
    filter: contrast(80%);
    cursor: pointer;
}

#list-logo:hover{
    color: var(--primary-svg-color);
}

#tabs{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-top: 3em;
}

.tab-item, .tab-item-selected{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    cursor: pointer;
}

.tab-item-selected .tab-item-icon{
    border-width: 2px;
}

.tab-item-selected h1{
    color: var(--primary-text-color);
}

.tab-item-selected svg{
    fill: var(--primary-selected-color);
}


/* .tab-item:hover .tab-item-icon{
    border-width: 2px;
}

.tab-item:hover h1{
    color: var(--primary-text-color);
}

.tab-item:hover svg{
    fill: var(--primary-selected-color);
} */

.tab-item-icon{
    background-color: transparent;
    border: 1px solid var(--primary-purple-color);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.tab-item-icon svg{
    fill: var(--primary-unselected-color);
    align-self: center;
    transition-duration: .5s;
}

.tab-item h1{
    color: var(--primary-unselected-color);
    font-size: 24px;
    font-weight: bold;
    transition-duration: .5s;
}

#avatar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

#avatar h1{
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-unselected-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}